$color-grey-dark: #777;
$color-light-purple: rgb(151, 81, 136);

$color-red: #E71D36;
$color-turqu: #2EC4B6;
$color-aqua: #EFFFE9;
$color-black: #011627;
$color-haze: #eeeb4198;

//font
$default-font-size: 2rem;
$font-size-medium: 2.5rem;
$font-size-large: 3rem;
$font-size-enormous: 8rem;