* {
    color: $color-aqua;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size: 62.5%; // 1rem = 10 px at 16 browser font
  }

  .page-container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    padding: 5rem;

    & * {
      color: $color-red;
    }
  }

  // router-outlet + *  {
  //   padding: 0 16px;
  // }

  // router-outlet {
  //   display: flex;
    
  // }