<div class="page-container">
  <div class="visit">
    <div class="visit__section">Easy to get to!</div>
    <div class="visit__section">Affordable entertainment!</div>
    <div class="visit__section">Come for a day or a year!</div>
    <div class="visit__section">
      Voted one of Europe's top 15 destinations by Cuisine Trends Magazine
    </div>
    <div class="visit__section">
      <div class="quote">
        <div class="quote-contain">
          <fa-icon class="quote__icon" [icon]="faQuoteLeft"></fa-icon>
          <div class="quote__quote">This place is&nbsp;<u>way</u>&nbsp;better than Sevilla!</div>
        </div>
        <div class="quote__name"><b>&ndash; Leti Garcia</b></div>
      </div>
      <div class="quote">
        <div class="quote-contain">
          <fa-icon class="quote__icon" [icon]="faQuoteLeft"></fa-icon>
          <div class="quote__quote">I wish I was from Ourense</div>
        </div>
        <div class="quote__name"><b>&ndash; Leti Garcia</b></div>
      </div>
      <div class="quote">
        <div class="quote-contain">
          <fa-icon class="quote__icon" [icon]="faQuoteLeft"></fa-icon>
          <div class="quote__quote">Ourense: 10...Sevilla: 0</div>
        </div>
        <div class="quote__name"><b>&ndash; Leti Garcia</b></div>
      </div>
    </div>
  </div>
</div>
